---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";

const promo = 185;
---

<Layout title="Cercles">
  <main class="wrapper">
    <h1>Cercles FPMs</h1>
    <section>
      <h2>Cercles fédérés</h2>
      <ul>
        <Card title="Bar" promo={promo} hrefPage="bar" />
        <Card
          title="CAP - Centrale d'Achat Polytech"
          promo={promo}
          hrefPage="CAP"
        />
        <Card title="Cercle Magellan" promo={promo} hrefPage="magellan" />
        <Card title="Mons-Mines" promo={promo} hrefPage="mons-mines" />
        <Card title="Mutuelle d'Édition" promo={promo} hrefPage="mutu" />
        <Card title="Peyresq" promo={promo} hrefPage="peyresq" />
        <Card title="CPV - Cercle Photo Vidéo" promo={promo} hrefPage="CPV" />
        <Card title="Radio Extra" promo={promo} hrefPage="radio-extra" />
        <Card title="Scientifique" promo={promo} hrefPage="scientifique" />
        <Card title="Sono-Danse-Musique" promo={promo} hrefPage="SDM" />
        <Card title="Q - Cercle Culturel" promo={promo} hrefPage="Q" />
        <Card title="Cercle des Sports" promo={promo} hrefPage="sports" />
      </ul>
    </section>
    <section>
      <h2>Cercle des Fêtes</h2>
      <p></p>
    </section>
    <section>
      <h2>Régionales</h2>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </section>
  </main>
</Layout>

<style>
  ul {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }
</style>
