---
import { Image } from "@astrojs/image/components";

export interface Props {
  title: string;
  promo: number;
  hrefPage: string;
}

const { title, promo, hrefPage } = Astro.props;
---

<li>
  <a href=`/cercles/${promo}/${hrefPage}`>
    <h3>{title}</h3>
    <Image
      src={import(`../images/${hrefPage}.jpg`)}
      alt={title}
      quality={30}
      width={300}
      aspectRatio={3 / 2}
    />
  </a>
</li>
