---
import Layout from "../../../layouts/Layout.astro";

const cercle = "Magellan";
const description =
  "Le cercle Magellan est le cercle informatique de la Faculté Polytechnique de Mons. Nous sommes en charge des réseaux internet des Cités Pierre Houzeau de Lehaie et Jacques Franeau. Nous disposons d'un local au sein de la Cité Houzeau (local 500) où nous mettons à diposition des PC en accès libre avec une session privée.";
const presi = "Kevin Dubrulle";
const treso = "Hugo Lorenzoni";
const secretaire = "Lucy Bogaert";
---

<Layout title={cercle}>
  <main class="wrapper">
    <h1>{cercle}</h1>
    <section>
      <h2>Description</h2>
      <p>{description}</p>
    </section>
    <section>
      <h2>Comité</h2>
      <ul>
        <li>{presi}</li>
        <li>{treso}</li>
        <li>{secretaire}</li>
      </ul>
    </section>
  </main>
</Layout>

<style>
  ul {
    padding: 0;
    list-style: none;
  }

  li {
    margin-bottom: 10px; /* Adjust as needed */
  }
  .wrapper {
    margin-bottom: 20px;
  }
</style>
